@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utils/index.scss';
@import './core/index.scss';

@layer components {
  .spinner {
    display: block;
    .ant-spin-dot-item {
      background-color: var(--color-primary);
    }
  }
}

// Scrollbar Customize
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 1rem;
}

// ant customization
.ant-btn-primary {
  background-color: var(--color-primary);
  box-shadow: none !important;
}

.ant-card {
  .ant-card-body {
    min-height: 9rem;
    .ant-card-meta-description {
      @apply line-clamp-1;
    }
  }
}
