@tailwind base;
@tailwind components;
@tailwind utilities;

@import './utils/index.scss';
@import './core/index.scss';

// Scrollbar Customize
::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 1rem;
}

// ant customization
.ant-btn-primary {
  background-color: var(--color-primary);
  box-shadow: none !important;
}
