.tasks_list {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    @include md {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include lg {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
